html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    font-family: 'VT323';
}

.slide {
    width: 100%;
    height: 100%;
    color: #000;
}

h1 {
    font-size: 32px;
    font-weight: normal;
}

.success {
    color: #0BCAB5;
    display: none;
    font-size: 24px;
}

.fulfill {
    margin-top: 20px;
}

#clear {
    position: absolute;
    top: 50px;
}