body {
  margin: 0;
}
#toolbar {
  background-color: #fff;
}
.selected {
  background-color: pink;
}
canvas {
  cursor: pointer;
}
#cursorImg {
  width: 72px;
  height: 72px;
  position: absolute;
  display: none;
}
#cursorImg.tree {
  background: url(img/cursor_tree.png);
  background-size: 72px;
}
#cursorImg.mushroom {
  background: url(img/cursor_mushroom.png);
  background-size: 72px;
}
#cursorImg.rock {
  background: url(img/cursor_rock.png);
  background-size: 72px;
}
