.App {
  margin: 100px;
}
.App .row {
  width: 200px;
  height: 50px;
}
.cell {
  width: 25%;
  display: inline-block;
  border: 1px solid #fff;
  background: #eee;
  box-sizing: border-box;
}
.blue {
  background: blue;
}
.red {
  background: red;
}
.green {
  background: green;
}
